.App {
  text-align: center;
  
}
body{
  
  background-color: lightblue;
}

.clx{
  font-size:19px;
  border:none;
  color:red;
  margin:5px;
  padding:5px;
  background-color: lightblue;
}
li{
  text-decoration: none;
  list-style: none;
  padding: 5px;
  display:flex;
  flex-direction:row;
  border:1px solid white;
  margin:10px;
  border-radius:10px;
  width:180px;
  text-align:center;
  
}

.h1{
  font-size:35px;
  color:black;
  margin-left:5px;
  margin-top:-10px;
}
.nav{
  /* margin-top:100px;
  display:flex;
  flex-direction: column;    */
  margin-left:-10px;
  margin-top:50px;
}
.image-container{
  margin-top:250px;
  font-size:40px;
  margin-left:450px;
}

.list{
    padding:35px;
    border:2px solid black;
    border-radius: 5px;
    width:350px;
    height:350px;
    font-size:20px;
    margin-left:600px;
    
}
label{
  font-weight:bold;
}

.btn{
  font-size:20px;
  padding:8px;
  margin-top:15px;
  margin-left:60px;
  border-radius: 5px;
}

.table{
    border:2px solid black;
    margin-left:200px;
   
}

th,td{
  border:1px solid;
  padding:15px;
  margin:5px;
}
.sorting-page{
  margin-left:900px;
  font-size:20px;
  margin-top:0;
}

.product{
  margin-left:400px;
  font-size:30px;
}

.xlx{
  margin-top:-400px;
}

.select{
  box-sizing: border-box;
}

.createw{
  margin-left:650px;
}

.full-data{
  margin-top:100px;
  margin-left:150px;
}

.button{
  background-color: red;
  color:white;
  margin-left:80px;
  margin-top:25px;
  font-size:25px;
  border:5px;
}

.group{
  gap:10px;
  margin:10px;
}

.onw{
  margin-left:15px;
  color:white;
  background-color: red;
  font-size:20px;
}

.onee{
  color:white;
  background-color: red;
  font-size:20px;
  margin-top:20px;
}

.edit-1{
  margin-left:450px;
  border:1px solid black;
  width:600px;
  text-align:center;
  height:400px;
  margin-top:-400px;
}

.edit{
  color:white;
  background-color: red;
  font-size:15px;
}

.handle{
  margin-left:150px;
  padding:0;
  font-size:35px;
}

.search-input{
  height:30px;
}

.search-results{
  margin-left:110px;
  padding:0;
  margin-bottom:200px;
}

.title-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.btn{
  margin-top:10px;
  font-size:20px;
  border:1px solid black;
  color:white;
  background-color: red;
  margin-left:500px;
}

.try{
  color:white;
  background-color: red;
  font-size:15px;
}

.title-page h1 {
  margin: 0;
  color:red;
  font-size:35px;
}


.search-button{
  height:35px;
  width:80px;
  font-size:18px;
  margin-left:5px;
  margin-top:9px;
  color:white;
  background-color: red;
  border-radius: 5px;
}

.copper{
  margin-top:-400px;
  margin-left:300px;
}

.search-container{
  margin-left:400px;
  margin-top:-300px;
}

.login{
  margin-left:700px;
  margin-top:-200px;
  padding:20px;
  border:1px solid white;
  width:250px;
  height:230px;
  text-align:center;
  justify-content: center;
  border-radius: 15px;
  background-color: teal;

}
.login h1{
  color:azure;
}

.brox{
  font-size:20px;
  color:white;
  background-color: red;
  border:1px solid black;
  border-radius: 5px;
  margin-top:15px;
}

.Register{
  margin-left:700px;
  margin-top:-200px;
  padding:20px;
  border:1px solid white;
  width:280px;
  height:270px;
  text-align:center;
  justify-content: center;
  border-radius: 15px;
  background-color: teal;
}

.Register h1{
  color:azure;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination-button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.pagination-button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}








.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
